 .header {
    height: 500px;
    background-image: url(https://images.pexels.com/photos/459976/pexels-photo-459976.jpeg);
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    /* background-position: top center; */
    /* background-position: top center; */
    background-blend-mode: multiply;
    color: yellow;
 }
 h3 {
    color: magenta;
 }
 p {
    color: blue;
 }
 .page-title {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }